<p id="notice"><%= notice %></p>

<h1>Event Volunteers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_volunteers.each do |event_volunteer| %>
      <tr>
        <td><%= link_to 'Show', event_volunteer %></td>
        <td><%= link_to 'Edit', edit_event_volunteer_path(event_volunteer) %></td>
        <td><%= link_to 'Destroy', event_volunteer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Volunteer', new_event_volunteer_path %>
