<div class="medium-5 callout columns">
  <div class="callout">
    <h4>
      <%= @user.full_name %><br>
    </h4>
      (<%= @user.email %>)<br>
  </div>

  <% if @errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@errors.keys.count, "error") %> prohibited this user role from being saved:</h2>

      <ul>
      <% @errors.each do |type, messages| %>
      <% messages.each do |message| %>
        <li> <%= type.capitalize %> <%= message %></li>
        <%end%>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="roles callout">
    <h6><%=@user.first_name%>'s Roles: <br></h6>
    <% @user.roles_ordered_by_name.each do |role| %>
      <div class="role callout input-group">
        <span class="text-left"><%= role.name %></span>
        <span class="input-group-button"><%= button_to 'Remove Role', user_role_path(user_role: {role_id: role, user_id: @user}), method: :delete, class: "button" %></span>
      </div>
    <%end%>
  </div>
  <div class="callout">
    <h6>Add a New Role</h6>
  <%= form_for @user_role do |f| %>
  <div class="inline-group">
    <%= f.hidden_field :user_id, :value => @user.id %>
    <%= collection_select(:user_role, :role_id, @roles, :id, :name, class: "input-group-field") %>
    <div class="input-group-button"><%= f.submit 'Add User Role', class: 'button float-right' %></div>
  </div>
  <% end %>
  </div>
  <%= link_to 'Back to the Users', user_roles_path %>
</div>
