<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <div class="fieldling">
      <%= f.label :start_time %>
      <%= f.datetime_select :start_time, :ampm => true, :minute_step => 15 %>
    </div>

    <div class="fieldling">
      <%= f.label :end_time %>
      <%= f.datetime_select :end_time, :ampm => true, :minute_step => 15 %>
    </div>
  </div>

  <div class="field">
    <div class="fieldling">
      <%= f.label :band %>
      <%= f.collection_select :band_id, @bands, :id, :name, include_blank: true %>
    </div>

    <div class="fieldling">
      <%= f.label :venue %>
      <%= f.collection_select :venue_id, @venues, :id, :name, include_blank: true %>
    </div>
  </div>

  <%= f.fields_for :price_attributes do |price| %>
  <div class="field">
      <div class="fieldling">
        <%= price.label :general %><br />
        <%= price.text_field :general, value: 15 %>
      </div>

      <div class="fieldling">
        <%= price.label :student %><br />
        <%= price.text_field :student, value: 13 %>
      </div>

      <div class="fieldling">
        <%= price.label :discounted %><br />
        <%= price.text_field :discounted, value: 8 %>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes, value: "Weekly Friday Dance" %>
  </div>

  <div class="field">
    <div class="fieldling">
      <%= f.label :weekly_friday_dance %><br />
      <%= f.check_box :weekly_friday_dance %>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
