<!-- <table class="hide">
  <thead>
    <tr>
      <th>Role</th>
      <th>Names</th>
      <th>Name</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Notes</th>
      <th>Submit</th>
    </tr>
  </thead>

  <tbody>
    <% volunteer_slots.each do |slot| %>
      <tr>
        <%= form_for(slot) do |f| %>
        <td><%= slot.role.name %></td>
        <td><%= slot.display_volunteers %></td>
        <td><%= f.collection_select :event_volunteer_id, slot.available_slots, :id, :full_name, {include_blank: true, selected: slot.volunteer_id}, {class: "event-volunteer", id: slot.id} %></td>
        <td><%= slot.start_time.strftime("%I:%M%p")  %></td>
        <td><%= slot.end_time.strftime("%I:%M%p")  %></td>
        <td><%= f.text_field :notes, value: slot.notes %></td>
        <td><%= f.submit 'Assign Volunteer', class: "success button" %></td>
        <%end%>
        <td><%= button_to 'Delete All Slot Volunteers', event_volunteer_slot_path(slot), method: :delete, class: "alert button", params: { event_volunteer: {event_volunteer_slot_id: slot.id} } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<div class="small-12 columns">
  <% volunteer_slots.each do |slot| %>
  <div class="callout success row">
    <%= form_for(slot) do |f| %>
      <div class="callout secondary columns text-center">Role: <br><%= slot.role.name %></div>
      <div class="callout secondary columns text-center"><%= slot.start_time.strftime("%l:%M%p") %> - <%= slot.end_time.strftime("%l:%M%p")  %></div>
      <div class="callout secondary columns text-center">Names: <br><%= slot.display_volunteers %></div>
      <div class="callout secondary columns text-center">Volunteer: <%= f.collection_select :event_volunteer_id, slot.available_slots, :id, :full_name, {include_blank: true, selected: slot.volunteer_id}, {class: "event-volunteer", id: slot.id} %></div>
      <div class="callout secondary columns text-center">Notes: <%= f.text_field :notes, value: slot.notes %></div>
      <div class="callout secondary columns text-center"><%= f.submit 'Assign Volunteer', class: "success button" %></div>
    <%end%>
    <div class="callout secondary columns text-center"><%= button_to 'Delete All Slot Volunteers', event_volunteer_slot_path(slot), method: :delete, class: "alert button", params: { event_volunteer: {event_volunteer_slot_id: slot.id} } %></div>
  </div>
  <% end %>
</div>
