<h1>Editing Event</h1>

<p id="notice"><%= notice %></p>

<h1>Event - <%= @event.start_time.strftime("%A: %I:%M%p") %> - <%= @event.end_time.strftime("%I:%M%p")%></h1>
<%= render 'form', event: @event %>

<%= render 'volunteer_slots_form', volunteer_slots: @event_volunteer_slots, users: @users, event_volunteer: @event_volunteer %>
<!-- <table>
  <thead>
    <tr>
      <th>Role</th>
      <th>Name</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @event_volunteer_slots.each do |slot| %>
      <tr>
        <td><%= slot.role.name %></td>
        <td><%= collection_select :event_volunteer_slot, :user_id, @users, :id, :full_name, {include_blank: true, selected: slot.volunteer_id}, {class: "event-volunteer", id: slot.id} %></td>
        <td><%= slot.start_time.strftime("%I:%M%p")  %></td>
        <td><%= slot.end_time.strftime("%I:%M%p")  %></td>
        <td><%= text_field_tag :event_volunteer_slot, :notes, value: slot.notes %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->
<div></div>

<%= link_to 'Index', events_path %>
<%= link_to 'Show', @event %> |
