<p id="notice"><%= notice %></p>

<h1>Event Volunteer Slots</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_volunteer_slots.each do |event_volunteer_slot| %>
      <tr>
        <td><%= link_to 'Show', event_volunteer_slot %></td>
        <td><%= link_to 'Edit', edit_event_volunteer_slot_path(event_volunteer_slot) %></td>
        <td><%= link_to 'Destroy', event_volunteer_slot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Volunteer Slot', new_event_volunteer_slot_path %>
